.advantages__item {
    display: flex;
    position: relative;
    margin-bottom: 35px;
}

.advantages__number {
    @include font-text(20px, 21px, 600);
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: $yellow;
    padding: 15px 12px 15px 12px;
}

.advantages__title {
    @include font-text(20px, 23px, 600);
    text-align: center;
    color: #161616;
    margin-bottom: 30px;
    padding-top: 60px;
}

// .advantages__number::after {
//     content: "";
//     display: block;
//     width: 51px;
//     height: 51px;
//     background: #FFE500;
//     position: absolute;
//     top: 0;
//     z-index: -999;
// }
.advantages__info {
    @include font-text(16px, 19px, 600);
    color: #48494D;
    margin-left: 40px;
}

@media (min-width: $table-width) {
    .advantages {
        background-color: $white;
    }
    .advantages__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .advantages__item {
        width: 48%;
    }
    .advantages__info {
        margin-left: 10px;
    }
    .advantages__title {}
}

@media (min-width: $desktop-width) {
    .advantages__item {
        width: 33.333%;
        margin-bottom: 83px;
        padding: 0 15px;
    }
    .advantages__info {
        max-width: 182px;
    }
    .advantages__title {
        @include font-text(30px, 35px, 600);
        padding-top: 141px;
        padding-left: 41px;
        margin-bottom: 84px;
    }
}