.form {
    padding: 56px 0 60px 0;
    background-color: $white;

}

.form__title {
    @include font-text(18px, 21px, bold);
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #161616;
}

.form__name,
.form__number {
    width: 100%;
    height: 50px;
    background: #EFF0F1;
    outline: none;
    margin-bottom: 20px;
    border: none;
    padding-left: 17px;
}

.form__name::placeholder,
.form__number::placeholder {
    @include font-text(16px, 19px, 400);
    color: $black;
    opacity: 0.5;
}

.form__button {
    @include font-text(12px, 14px, 600);
    background: #161616;
    letter-spacing: 0.07em;
    width: 100%;
    padding: 18px 0;
    border: none;
    color: $white;
    cursor: pointer;
}


@media (min-width: $desktop-width) {
    .form {
        padding-top: 182px;
        padding-left: 110px;
        padding-bottom: 80px;
    }

    .form__title {
        @include font-text(25px, 35px, bold);
        letter-spacing: 0.13em;
        text-transform: uppercase;
        color: $black;
        max-width: 720px;
        margin: 0 auto;
        margin-bottom: 26px;
    }

    .form__box {
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;

    }

    .form__name,
    .form__number {
        width: 249px;
        height: 55px;
        margin-right: 12px;
        margin-bottom: 0;
    }

    .form__button {
        width: 170px;
        padding: 18px 0;
    }
}