header {
    background-color: $black;
    background: url("../../images/main-bg.jpg") no-repeat;
    opacity: 1;
    padding-top: 30px;
    padding-bottom: 22px;
}


.header__menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
    vertical-align: top;
}

.header__burger {
    background-color: inherit;
    border: none;
}

@media (min-width: $desktop-width) {
    .header {
        background-color: $black;
        height: 600px;
        background-image: none;
        position: relative;
    }

    .header__burger {
        display: none;
    }

    .header__menu {
        padding: 0;
        height: 37px;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-logo__img {
        align-items: flex-start;
    }
}