.land {
    flex-direction: column;
    background-color: $white;
}

.land__img {
    order: 2;
    vertical-align: top;
}

.land__img--desktop {}

.land__inner {
    display: flex;
}

.land__title {
    @include font-text(18px, 21px, bold);
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 20px;
}

.land__description {
    @include font-text(15px, 18px, normal);
    text-align: center;
    color: $black;
    margin-bottom: 30px;
}

.land__button {
    @include font-text(12px, 14px, bold);
    width: 100%;
    padding: 21px 0;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    color: $white;
    background: $black;
    margin-bottom: 102px;
}

@media (min-width: $table-width) {
    .land__inner {
        flex-direction: column;
    }
    .land__info {
        order: 2;
    }
    .land__img--desktop {
        padding-top: 40px;
        padding-bottom: 20px;
        display: flex;
        order: 1;
    }
}

@media (min-width: $desktop-width) {
    .land {
        padding-bottom: 105px;
    }
    .land__img--desktop {
        display: block;
        width: 550px;
        height: 488px;
        margin-top: -156px;
        margin-right: 82px;
    }
    .land__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .land__button {
        margin: 0;
    }
    .land__button:hover {
        background-color: $yellow;
        color: $black;
    }
    .land__title {
        @include font-text(30px, 35px, bold);
        text-align: left;
        margin-bottom: 26px;
    }
    .land__description {
        @include font-text(15px, 18px, normal);
        width: 430px;
        text-align: left;
        color: $black;
        margin-bottom: 50px;
    }
    .land__info {
        padding-left: 20px;
    }
}