.main__slider-title {
    font-size: 18px;
    font-weight: bold;
    max-width: 250px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 36px;
    line-height: 33px;
}

.main__slider {
    position: relative;
}

.main__slider-btn {
    @include font-text(14px, 16px, bold);
    width: 168px;
    height: 55px;
    background-color: $yellow;
    color: $black;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 47px;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    cursor: pointer;
}

.main__slider-btn:hover {
    background-color: rgb(239, 253, 95);
}

.main__slider-bg {
    display: none;
}

.main__slider-pages {
    text-align: right;
}

@media (min-width: $desktop-width) {
    .main__slider {
        position: relative;
    }

    .main__slider-title {
        @include font-text(26px, 44px, bold);
        max-width: 520px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        margin-top: 164px;
        margin-bottom: 47px;
        color: $white;
    }

    .main__slider-pages {
        @include font-text(18px, 21px, bold);
        position: absolute;
        left: 554px;
        bottom: 39px;
    }

    .main__slider-bg {
        display: block;
        width: 972px;
        height: 506px;
        position: absolute;
        top: -50px;
        right: -400px;
        z-index: 2;
    }

    .main__slider-btn {
        @include font-text(18px, 21px, bold);
        width: 214px;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        color: $black;
    }
}