.main__slider-title {
    font-size: 18px;
    font-weight: bold;
    max-width: 250px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 36px;
    line-height: 33px;
}

.main__slider {
    position: relative;
}

.main__slider-btn {
    width: 168px;
    height: 55px;
    background-color: #FFE500;
    color: #161616;
    border: none;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 47px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    cursor: pointer;
}

.main__slider-btn:hover {
    background-color: rgb(239, 253, 95);
}

.main__slider-bg {
    display: none;
}

.main__slider-pages {
    text-align: right;
}


@media (min-width: $desktop-width) {

    .main__slider {
        position: relative;
    }

    .main__slider-title {
        max-width: 520px;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        margin-top: 170px;
        margin-bottom: 51px;
        color: #FFFFFF;
    }

    .main__slider-pages {
        position: absolute;
        left: 617px;
    }

    .main__slider-bg {
        display: block;
        width: 972px;
        height: 506px;
        position: absolute;
        top: -50px;
        right: -400px;
        z-index: 2;
    }

}