.map {
    background-color: $white;
}

.map__title {
    @include font-text(20px, 21px, 600);
    text-align: center;
    color: $black;
    padding-top: 60px;
    margin-bottom: 25px;
}

.map__img {
    display: block;
    vertical-align: top;
    margin-bottom: 48px;
    margin: 0 auto;
}


@media (min-width: $desktop-width) {
    .map {
        padding-bottom: 243px;
    }

    .map__title {
        margin-bottom: 46px;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
    }
}