 @mixin wrapper {
     margin: 0 auto;
     padding: 0 16px;
     max-width: 320px;

     @media (min-width: $table-width) {
         margin: 0 auto;
         // padding: 0 30px;
         max-width: 768px;
     }

     @media (min-width: $desktop-width) {
         margin: 0 auto;
         padding: 0 20px;
         max-width: 1170px;
     }
 }