.warehouses {
    position: relative;
    background-color: $black;
    padding-bottom: 39px;
    padding-top: 250px;
}

.warehouses__title {
    @include font-text(18px, 21px, bold);
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $white;
}



.warehouses__description {
    @include font-text(15px, 18px, normal);
    text-align: center;
    color: $white;
    margin-bottom: 30px;
}

.warehouses__button {
    @include font-text(12px, 14px, bold);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    border: 1px solid $white;
    padding: 21px 0 17px 0;
}

.warehouses__img {
    position: absolute;
    top: -46px;
}


@media (min-width: 574px) {
    .warehouses__img {
        top: 36px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}

@media (min-width: $desktop-width) {
    .warehouses {
        padding-top: 187px;
        padding-bottom: 127px;
    }

    .warehouses__description {
        @include font-text(15px, 18px, normal);
        max-width: 500px;
        text-align: left;
        margin-bottom: 46px;
        color: $white;
    }

    .warehouses__title {
        @include font-text(30px, 35px, bold);
        letter-spacing: 0.13em;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 33px;
        color: $white;
    }

    .warehouses__info {
        padding-left: 20px;
    }

    .warehouses__button {}


    .warehouses__img {
        position: absolute;
        transform: none;
        top: 115px;
    }
}