@import "blocks/var.scss";
@import "blocks/mixin.scss";
@import "blocks/global.scss";
@import "blocks/header.scss";
@import "blocks/navigation.scss";
@import "blocks/main.scss";
@import "blocks/advantages.scss";
@import "blocks/form.scss";
@import "blocks/map.scss";
@import "blocks/products.scss";
@import "blocks/land.scss";
@import "blocks/warehouses.scss";
@import "blocks/footer.scss";
@import "blocks/button.scss";
@import "blocks/telephone.scss";
@import "blocks/modal.scss";